<div class="row">
  <div class="col-md-4 mx-auto mt-3">
    <div class="card">
      <div class="card-header">
        Account Login
      </div>
      <img src="https://cdn-icons-png.flaticon.com/512/7004/7004195.png" alt="" class="img mx-auto d-block mt-2">
      <div class="card-body mt-3">
        <form action="/user/signin" method="POST">
            <div class="form-goup mt-3">
              <input type="email" class="form-control" name="email"
              placeholder="Email">
            </div>
            <div class="form-goup mt-3">
              <input type="password" class="form-control" name="password"
              placeholder="Password">
            </div>
            <button class="btn btn-success btn-block mt-4">
              Signin
            </button>

        </form>
      </div>
    </div>
  </div>
</div>